@import '../../styles/variables';

.context-menu {
  background: $blackBackground;
  border-radius: 4px 10px 10px 10px;
  padding: 10px 0;
  position: absolute;
  visibility: hidden;
  z-index: 99999999;

  &.active {
    visibility: visible;
  }

  &.reversed {
    border-radius: 10px 4px 10px 10px;
  }

  &__link {
    color: $buttonTextColor;
    display: block;
    font-weight: bold;
    height: 48px;
    line-height: 47px;
    padding: 0 40px;
    text-decoration: none;

    &:hover {
      background-color: rgba(255,255,255, 0.1);
    }
  }
}

.fa-pencil,
.fa-times {
  
  speak: never;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'font-awesome' !important;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  margin-right: 8px;
  text-transform: none;
}

.fa-times:before {
  content: "\f00d";
}
.fa-pencil:before {
  content: "\f040";
}
