.context-menu {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 4px 10px 10px 10px;
  padding: 10px 0;
  position: absolute;
  visibility: hidden;
  z-index: 99999999;

  &.active {
    visibility: visible;
  }

  &.reversed {
    border-radius: 10px 4px 10px 10px;
  }

  &__link {
    color: rgb(255, 249, 213);
    display: block;
    font-weight: bold;
    height: 48px;
    line-height: 47px;
    padding: 0 40px;
    text-decoration: none;

    &:hover {
      background-color: rgba(255,255,255, 0.1);
    }
  }
}

.fa-pencil,
.fa-times {
  font-size: 14px;
  margin-right: 8px;
}