.pop-up {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  bottom: 40px;
  max-height: 60%;
  overflow: hidden;
  position: absolute;
  right: 40px;
  width: 546px;
  z-index: 999999999;

  &.hidden {
    display: none;
  }

  &__close {
    background: none;
    border: none;
    font-size: 25px;
    line-height: 17px;
    outline: none;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    transition-duration: 500ms;
    width: 20px;

    &:hover {
      transform: rotate(180deg);
    }
  }

  &__list {
    font-size: 18px;
    padding: 0 40px;
  }

  &__item {
    word-wrap: break-word;
    margin-top: 10px;
  }
}

@media all and (max-width: 768px) {
  .pop-up {
    height: 100vh;
    max-height: none;
    padding-top: 40px;
    right: auto;
    top: 0;
    width: 100%;

    &__close {
      top: 40px;
    }
  }
}
