.messages {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding-top: 10px;
  box-sizing: border-box;
  transition-duration: 150ms;

  &:focus-within {
    border-radius: 18px;
  }
}

@media all and (min-width: 1440px) {
  .messages {
    max-width: none;
    width: 70%;
  }
}

@media all and (max-width: 1020px) {
  .messages {
    border-radius: 0;
    box-shadow: none;
    background: none;
    max-height: calc(100vh - 10px - 48px);
  }
}
