@import '../../styles/variables';

.messages {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  box-shadow: 1px 1px 12px $blackShadow;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1000px;
  overflow: hidden;
  padding-top: 10px;
  transition-duration: 150ms;
  width: 100%;

  &:focus-within {
    border-radius: 18px;
  }
}

@media all and (min-width: 1440px) {
  .messages {
    max-width: none;
    width: 70%;
  }
}

@media all and (max-width: 1020px) {
  .messages {
    background: none;
    border-radius: 0;
    box-shadow: none;
    max-height: calc(100vh - 10px - 48px);
  }
}

@media all and (max-width: 900px) {
  .messages {
    height: 100%;
    position: absolute;
    top: -5px;
    z-index: 1;
  }
}
