.messages-input {
  width: 100%;

  &__input {
    background: none;
    background: rgba(255, 255, 255, 0.03);
    border: none;
    box-sizing: border-box;
    color: #fff;
    font-size: 20px;
    min-height: 50px;
    opacity: 0.6;
    outline: none;
    padding: 0 20px 0 20px;
    width: 100%;

    &::placeholder {
      color: #fff;
    }

    &:focus {
      opacity: 1;

      &::placeholder {
        opacity: 0.8;
      }
    }
  }
}

@media all and (max-width: 1020px) {
  .messages-input {
    bottom: 0;
    position: absolute;
  }
}
