.log-in {
  width: fit-content;
  margin: 20px 20px 0 auto;

  &__open-form {
    border: none;
    background: none;
    background-color: rgb(255, 174, 0);
    padding: 13px 40px;
    display: block;
    font-size: 19px;
    border-radius: 4px;
    font-weight: bold;
    box-sizing: border-box;
    color: rgb(255, 249, 213);
  }

  &__form {
    max-width: 600px;
    height: 200px;
    width: 100%;
    position: absolute;
    left: calc(50% - 300px);
    top: calc(50% - 100px);
    border-radius: 8px;
    padding-top: 40px;
    box-sizing: border-box;
    display: none;
    z-index: 10;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);

    &.open {
      display: block;
    }
  }

  &__author {
    width: 350px;
    height: 38px;
    border: none;
    background: none;
    outline: none;
    border-radius: 4px;
    margin-bottom: 20px;
    box-sizing: border-box;
    caret-color: rgba(255, 249, 213, 0.267);
    color: rgb(255, 249, 213);
    transition-duration: 50ms;
    opacity: 0.8;
    font-size: 19px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);

    &:focus {
      opacity: 1;
    }

    &::placeholder {
      color: rgba(255, 255, 255, 0.322);
    }
  }

  &__close-form {
    border: none;
    background: none;
    padding: 13px 40px;
    font-size: 19px;
    border-radius: 4px;
    font-weight: bold;
    box-sizing: border-box;
    color: rgb(255, 249, 213);
    opacity: 0.8;
    transition-duration: 50ms;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);

    &:hover {
      opacity: 1;
    }
  }
}
