.log-in {
  margin: 20px 20px 10px auto;
  width: fit-content;

  &__open-form {
    background: none;
    background-color: rgb(255, 174, 0);
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    color: rgb(255, 249, 213);
    display: block;
    font-size: 19px;
    font-weight: bold;
    padding: 13px 40px;
    position: relative;
    z-index: 2;
  }

  &__form {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: none;
    height: 200px;
    left: calc(50% - 300px);
    max-width: 600px;
    padding-top: 40px;
    position: absolute;
    top: calc(50% - 100px);
    width: 100%;
    z-index: 10;

    &.open {
      display: block;
    }
  }

  &__author {
    background: none;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 4px;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    caret-color: rgba(255, 249, 213, 0.267);
    color: rgb(255, 249, 213);
    font-size: 19px;
    height: 38px;
    margin-bottom: 20px;
    max-width: 350px;
    opacity: 0.8;
    outline: none;
    text-align: center;
    transition-duration: 50ms;
    width: 100%;

    &:focus {
      opacity: 1;
    }

    &::placeholder {
      color: rgba(255, 255, 255, 0.322);
    }
  }

  &__close-form {
    background: none;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 4px;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    color: rgb(255, 249, 213);
    font-size: 19px;
    font-weight: bold;
    opacity: 0.8;
    padding: 13px 40px;
    transition-duration: 50ms;

    &:hover {
      opacity: 1;
    }
  }
}

@media all and (max-width: 1020px) {
  .log-in {
    margin-bottom: 0;
    margin-top: 10px;
  }
}

@media all and (max-width: 600px) {
  .log-in {
    &__form {
      background: rgba(0, 0, 0, 0.8);
      border-radius: 0;
      height: 100%;
      left: 0;
      padding-top: 40vh;
      top: 0;
    }
  }
}
