.messages-list {
  box-sizing: border-box;
  display: block;
  height: 70vh;
  list-style-type: none;
  margin: 0;
  overflow-y: auto;
  padding: 0;
  width: 100%;

  &::-webkit-scrollbar {
    width: 0;
  }

  &__message {
    width: fit-content;

    &.me-author {
      margin-left: auto;
      margin: 0 20px 40px auto;

      .messages-list__message-content {
        border-radius: 10px 10px 0 10px;
  
        &::before {
          border-radius: 0 100% 30% 0;
          left: auto;
          right: -10px;
        }
        
        .messages-list__author {
          text-align: right;
          pointer-events: none;
        }
      }
    }
  }

  &__message-content {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px 10px 10px 0;
    margin: 20px 40px 0 20px;
    max-width: 400px;
    padding: 5px;
    padding: 5px 20px;
    position: relative;
    text-align: left;
    width: fit-content;

    &::before {
      background: rgba(255, 255, 255, 0.2);
      border-radius: 100% 0 0 30%;
      bottom: 0;
      content: '';
      height: 7px;
      left: -10px;
      position: absolute;
      width: 10px;
    }

    p {
      word-wrap: break-word;
    }
  }

  &__author,
  &__text {
    word-wrap: break-word;
    margin: 0;
  }

  &__author {
    color: #fff;
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 10px;
    pointer-events: none;
  }

  &__text {
    color: #fff;
    font-size: 20px;
    background: none;
    border: none;
    outline: none;
    overflow: hidden;
    resize: none;
  }

  .messages-list__text {
    pointer-events: none;
  }

  &__date {
    color: #fff;
    margin: 10px 0 0 0;
    font-size: 12px;
  }
}

@media all and (max-width: 900px) {
  .messages-list {
    height: calc(100vh - 48px - 20px - 50px);

    &__message {
      max-width: 40%;
    }
  }
}

@media all and (max-width: 620px) {
  .messages-list {
    &__message {
      margin: 20px 40px 0 5px;
      margin-left: 5px;
      max-width: 60%;

      &::before {
        height: 4px;
        left: -5px;
        width: 5px;
      }

      &.me-author {
        margin: 20px 5px 40px auto;

        &::before {
          right: -5px;
        }
      }
    }
  }
}
